@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



@keyframes gradient-xy {
  0%, 100% {
    background-size: 400% 400%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

/* Apply the animation */
.animate-gradient-xy {
  animation: gradient-xy 15s ease infinite;
}